@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-image: url("/src/assets/background-image.jpg");
  min-height: 100vh;
  background-color: #dff7f3;
  background-size: cover;
  background-position: top right;
  background-blend-mode: multiply;
} */

#root > div {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  @apply mt-auto flex justify-around mx-4 my-2 pt-6 pb-12 border-t border-blue-300;

  &-item {
    &__title {
      @apply font-bold mb-1;
    }

    &__text {
      @apply font-normal text-sm;
    }
  }

  &-media {
    @apply flex;

    &__link {
      @apply w-6 h-6 mr-3;
    }
  }
}

.header {
  @apply flex items-center justify-between h-16 bg-black px-3;

  &__link {
    @apply text-white p-2 bg-slate-400 rounded-lg hover:bg-blue-400 active:bg-red-700 transition-colors;
  }
}

.active {
  @apply bg-red-500 text-white;
}

.form {
  @apply border-2 w-3/4 m-auto mt-10 flex flex-col py-4 mb-10 md:py-10 md:max-w-lg;

  &-title {
    @apply text-center w-full text-4xl leading-normal font-bold text-neutral-600;
  }

  &-label {
    @apply flex flex-col md:flex-row items-center justify-center mt-5 md:justify-normal;

    &__text {
      @apply w-full text-center mb-3 md:w-1/3 md:mb-0 md:mr-2 md:text-right;
    }

    &__wrapper {
      @apply relative w-3/4 md:w-1/2;
    }
  }

  &-input {
    @apply w-full py-2 px-4 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-indigo-500;
  }

  &-bottom {
    @apply flex justify-center mt-10;
  }

  &-button {
    @apply bg-blue-500 text-white hover:bg-blue-700 font-bold py-2 px-4 rounded mx-5 active:bg-blue-800;
  }

  &-error {
    @apply text-center pt-4 text-red-600 font-bold;
  }

  &-eye-icon {
    @apply cursor-pointer hover:opacity-40 active:opacity-100 absolute block right-0 -bottom-6;

    img {
      @apply w-5;
    }
  }
}

.article {
  @apply w-4/5 max-w-2xl m-auto bg-slate-100 grow py-2 px-4;

  &-user {
    @apply flex;

    &__title {
      @apply text-3xl text-blue-500;
    }

    &__text {
      @apply ml-2;
    }

    &__button {
      @apply border bg-blue-500 rounded-md py-2 px-4 text-white ml-auto hover:bg-blue-700 active:bg-blue-800;
    }
  }

  &-container {
    @apply h-full;
  }

  &-item {
    @apply m-auto mt-4 py-2 px-4 border border-blue-400 rounded-md block bg-white hover:bg-blue-200 hover:border-red-200 hover:transition-colors cursor-pointer;

    &-info {
      @apply flex;
    }

    &__name {
      @apply mr-2 text-sm text-gray-500;
    }

    &__date {
      @apply text-xs text-gray-400;
    }

    &-content {
      @apply text-ellipsis overflow-hidden py-2 whitespace-nowrap;

      &__title {
        @apply font-bold text-ellipsis overflow-hidden mb-1;
        letter-spacing: 0.01em;
      }

      &__text {
        @apply text-ellipsis overflow-hidden md:line-clamp-3 md:whitespace-pre-line;
      }

      &__content {
        @apply whitespace-pre;
      }
    }
  }

  &-page {
    @apply cursor-pointer px-2 hover:bg-gray-300 hover:text-white active:bg-gray-900;

    &-nav {
      @apply flex flex-wrap;
    }

    &__active {
      @apply bg-gray-800 text-white hover:bg-gray-800;
    }
  }

  &-info {
    @apply flex justify-end;

    &__wrapper {
      @apply flex first:mr-3;
    }

    &__text {
      @apply text-blue-900 font-mono cursor-default;
    }
  }

  &__svg {
    @apply flex w-6 h-6 mx-1 cursor-pointer;
  }

  &-button-area {
    @apply flex ml-auto relative z-20;
  }

  &__button {
    @apply bg-blue-500 text-white p-2 rounded-md hover:bg-blue-700 active:bg-blue-800 first:mr-2;
  }

  &-popup-form {
    @apply fixed flex justify-center items-center bg-black bg-opacity-70 w-full h-screen top-0 left-0 z-50;

    &__form {
      @apply p-6 w-3/4 max-h-screen bg-white rounded-md flex flex-col overflow-y-scroll;
    }

    &__label {
      @apply text-2xl first:mb-3;
    }

    &__input,
    &__textarea {
      @apply p-2 border border-blue-800 focus:outline-purple-800;
    }

    &__textarea {
      @apply w-full max-h-32 resize-none overflow-y-scroll mb-6;
    }

    &__error {
      @apply pt-4 text-red-600 font-bold;
    }
  }

  &-popup {
    @apply fixed top-0 left-0 bg-opacity-70 bg-black
    w-full z-50 h-screen text-white flex justify-center items-center py-10;

    &__wrapper {
      @apply w-4/5 h-full py-2 px-6 bg-white text-black overflow-y-scroll rounded-lg flex flex-col;
    }

    &__text {
      @apply whitespace-pre;
    }

    &__userinfo {
      @apply flex mb-2;
    }

    &__name {
      font-size: 1.5rem;
      margin-right: 1em;
      @apply text-blue-400;
    }

    &__date {
      @apply text-gray-500 text-sm inline-flex items-end;
    }

    &__container {
      @apply mb-6;
    }

    &__title {
      @apply font-bold text-2xl mb-2;
    }

    &-bottom {
      &__wrapper {
        @apply flex justify-end;
      }

      &__svg {
        @apply flex w-6 h-6 mx-2 cursor-pointer;
      }

      &__text {
        @apply font-mono;
      }
    }

    &-message {
      @apply flex my-4 flex-col;

      &__textarea {
        @apply border w-full p-2 mb-2 rounded-md focus:outline-none focus:border-purple-800;
      }
    }

    &-dialog {
      @apply bg-gray-100 p-4 rounded-lg;

      &__userinfo {
        @apply flex font-medium;
      }

      &__message {
        @apply text-gray-600 whitespace-pre;
      }

      &__item {
        @apply mb-4 py-2 px-4 border bg-white border-blue-400 rounded-md;
      }

      &__date {
        @apply text-xs text-gray-400 ml-2;
      }
    }
  }
}

.loading {
  @apply fixed z-50 top-0 left-0 w-full h-full flex items-center justify-center bg-black bg-opacity-70;

  &-svg {
    @apply w-80 fill-none;
    animation: spin infinite 1.5s linear;
  }
}

.button {
  @apply border bg-blue-500 rounded-md py-2 px-4 text-white ml-auto hover:bg-blue-700 active:bg-blue-800;
}

.default-click {
  cursor: default;
}

.default {
  // @apply flex;

  &__input,
  &__textarea {
    @apply p-2 border border-blue-800 focus:outline-purple-800;
  }

  &__textarea {
    @apply w-full max-h-32 resize-none overflow-y-scroll mb-6 mt-2;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
